<div class="card mb-3">
  <h2 class="card-header h4">
    Product Description #<%= product_description.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name of item</dt>
      <dd><%= product_description.name_of_item %></dd>

      <dt>Description</dt>
      <dd><%= product_description.description %></dd>

      <dt>Seller</dt>
      <dd>
        <% if @product_description.seller.present? %>
          <%= link_to product_description.seller, product_description.seller %>
        <% end %>
      </dd>

      <dt>Sale address</dt>
      <dd><%= product_description.sale_address %></dd>

      <dt>Product category</dt>
      <dd><%= product_description.product_category %></dd>

      <dt>Product image</dt>
      <dd><%= product_description.product_image %></dd>

      <dt>Price</dt>
      <dd><%= product_description.price %></dd>

      <dt>Sale status</dt>
      <dd><%= product_description.sale_status %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back product_description, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_product_description_url(product_description), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to product_description, method: :delete, data: { confirm: "Do you really want to delete this product_description?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(product_description.updated_at) %> ago
  </div>
</div>
