<% was_validated = product_description.errors.any? %>

<%= form_with(model: product_description, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_of_item_class = "form-control" %>
    <% name_of_item_was_invalid = product_description.errors.include?(:name_of_item) %>

    <% if was_validated %>
      <% if name_of_item_was_invalid %>
        <% name_of_item_class << " is-invalid" %>
      <% else %>
        <% name_of_item_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name_of_item %>
    <%= f.number_field :name_of_item, class: name_of_item_class, placeholder: "Enter name of item" %>
    <% if name_of_item_was_invalid %>
      <% product_description.errors.full_messages_for(:name_of_item).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = product_description.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.number_field :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% product_description.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% seller_class = "form-control" %>
    <% seller_was_invalid = product_description.errors.include?(:seller) %>

    <% if was_validated %>
      <% if seller_was_invalid %>
        <% seller_class << " is-invalid" %>
      <% else %>
        <% seller_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :seller_id %>
    <%= f.collection_select :seller_id, UserDatum.all, :id, :to_s, {}, class: "form-control" %>
    <% if seller_was_invalid %>
      <% product_description.errors.full_messages_for(:seller).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% sale_address_class = "form-control" %>
    <% sale_address_was_invalid = product_description.errors.include?(:sale_address) %>

    <% if was_validated %>
      <% if sale_address_was_invalid %>
        <% sale_address_class << " is-invalid" %>
      <% else %>
        <% sale_address_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :sale_address %>
    <%= f.number_field :sale_address, class: sale_address_class, placeholder: "Enter sale address" %>
    <% if sale_address_was_invalid %>
      <% product_description.errors.full_messages_for(:sale_address).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% product_category_class = "form-control" %>
    <% product_category_was_invalid = product_description.errors.include?(:product_category) %>

    <% if was_validated %>
      <% if product_category_was_invalid %>
        <% product_category_class << " is-invalid" %>
      <% else %>
        <% product_category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :product_category %>
    <%= f.number_field :product_category, class: product_category_class, placeholder: "Enter product category" %>
    <% if product_category_was_invalid %>
      <% product_description.errors.full_messages_for(:product_category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% product_image_class = "form-control" %>
    <% product_image_was_invalid = product_description.errors.include?(:product_image) %>

    <% if was_validated %>
      <% if product_image_was_invalid %>
        <% product_image_class << " is-invalid" %>
      <% else %>
        <% product_image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :product_image %>
    <%= f.number_field :product_image, class: product_image_class, placeholder: "Enter product image" %>
    <% if product_image_was_invalid %>
      <% product_description.errors.full_messages_for(:product_image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% price_class = "form-control" %>
    <% price_was_invalid = product_description.errors.include?(:price) %>

    <% if was_validated %>
      <% if price_was_invalid %>
        <% price_class << " is-invalid" %>
      <% else %>
        <% price_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :price %>
    <%= f.number_field :price, class: price_class, placeholder: "Enter price" %>
    <% if price_was_invalid %>
      <% product_description.errors.full_messages_for(:price).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% sale_status_class = "form-control" %>
    <% sale_status_was_invalid = product_description.errors.include?(:sale_status) %>

    <% if was_validated %>
      <% if sale_status_was_invalid %>
        <% sale_status_class << " is-invalid" %>
      <% else %>
        <% sale_status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :sale_status %>
    <%= f.number_field :sale_status, class: sale_status_class, placeholder: "Enter sale status" %>
    <% if sale_status_was_invalid %>
      <% product_description.errors.full_messages_for(:sale_status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
