<%= search_form_for @q, :class => collapse_search_form, :id => "product_descriptions_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :name_of_item, "Name of item" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :name_of_item_gteq, :class => "form-control", :placeholder => "Name of item greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :name_of_item_lteq, :class => "form-control", :placeholder => "Name of item less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :sale_status, "Sale status" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :sale_status_gteq, :class => "form-control", :placeholder => "Sale status greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :sale_status_lteq, :class => "form-control", :placeholder => "Sale status less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price, "Price" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :price_gteq, :class => "form-control", :placeholder => "Price greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :price_lteq, :class => "form-control", :placeholder => "Price less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :product_image, "Product image" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :product_image_gteq, :class => "form-control", :placeholder => "Product image greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :product_image_lteq, :class => "form-control", :placeholder => "Product image less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :product_category, "Product category" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :product_category_gteq, :class => "form-control", :placeholder => "Product category greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :product_category_lteq, :class => "form-control", :placeholder => "Product category less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :sale_address, "Sale address" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :sale_address_gteq, :class => "form-control", :placeholder => "Sale address greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :sale_address_lteq, :class => "form-control", :placeholder => "Sale address less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :description_gteq, :class => "form-control", :placeholder => "Description greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :description_lteq, :class => "form-control", :placeholder => "Description less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :username, "UserDatum Username" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :seller_username_gteq, :class => "form-control", :placeholder => "UserDatum Username greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :seller_username_lteq, :class => "form-control", :placeholder => "UserDatum Username less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :seller_name, "ItemsForSale Seller name" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :items_for_sales_seller_name_gteq, :class => "form-control", :placeholder => "ItemsForSale Seller name greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :items_for_sales_seller_name_lteq, :class => "form-control", :placeholder => "ItemsForSale Seller name less than or equal to" %>
      </div>
    </div>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/product_descriptions" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#product_descriptions_filters">
  Show filters
</a>
