<% was_validated = items_for_sale.errors.any? %>

<%= form_with(model: items_for_sale, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for seller_name start -->
  <div class="form-group">
    <% seller_name_class = "form-control" %>
    <% seller_name_was_invalid = items_for_sale.errors.include?(:seller_name) %>

    <% if was_validated %>
      <% if seller_name_was_invalid %>
        <% seller_name_class << " is-invalid" %>
      <% else %>
        <% seller_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :seller_name %>
    <!-- Input for seller_name start -->
    <%= f.number_field :seller_name, class: seller_name_class, placeholder: "Enter seller name" %>
    <!-- Input for seller_name end -->
    <% if seller_name_was_invalid %>
      <% items_for_sale.errors.full_messages_for(:seller_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for seller_name end -->
  <!-- Label and input for product_id start -->
  <div class="form-group">
    <% product_class = "form-control" %>
    <% product_was_invalid = items_for_sale.errors.include?(:product) %>

    <% if was_validated %>
      <% if product_was_invalid %>
        <% product_class << " is-invalid" %>
      <% else %>
        <% product_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :product_id %>
    <!-- Input for product_id start -->
    <%= f.number_field :product_id, class: product_class, placeholder: "Enter product" %>
    <!-- Input for product_id end -->
    <% if product_was_invalid %>
      <% items_for_sale.errors.full_messages_for(:product).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for product_id end -->
  <!-- Label and input for product_description start -->
  <div class="form-group">
    <% product_description_class = "form-control" %>
    <% product_description_was_invalid = items_for_sale.errors.include?(:product_description) %>

    <% if was_validated %>
      <% if product_description_was_invalid %>
        <% product_description_class << " is-invalid" %>
      <% else %>
        <% product_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :product_description %>
    <!-- Input for product_description start -->
    <%= f.number_field :product_description, class: product_description_class, placeholder: "Enter product description" %>
    <!-- Input for product_description end -->
    <% if product_description_was_invalid %>
      <% items_for_sale.errors.full_messages_for(:product_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for product_description end -->
  <!-- Label and input for price start -->
  <div class="form-group">
    <% price_class = "form-control" %>
    <% price_was_invalid = items_for_sale.errors.include?(:price) %>

    <% if was_validated %>
      <% if price_was_invalid %>
        <% price_class << " is-invalid" %>
      <% else %>
        <% price_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :price %>
    <!-- Input for price start -->
    <%= f.number_field :price, class: price_class, placeholder: "Enter price" %>
    <!-- Input for price end -->
    <% if price_was_invalid %>
      <% items_for_sale.errors.full_messages_for(:price).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for price end -->
  <!-- Label and input for product_category start -->
  <div class="form-group">
    <% product_category_class = "form-control" %>
    <% product_category_was_invalid = items_for_sale.errors.include?(:product_category) %>

    <% if was_validated %>
      <% if product_category_was_invalid %>
        <% product_category_class << " is-invalid" %>
      <% else %>
        <% product_category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :product_category %>
    <!-- Input for product_category start -->
    <%= f.number_field :product_category, class: product_category_class, placeholder: "Enter product category" %>
    <!-- Input for product_category end -->
    <% if product_category_was_invalid %>
      <% items_for_sale.errors.full_messages_for(:product_category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for product_category end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
