<%= form_with(model: @user_messaging, local: true) do |f| %>

  <%= f.hidden_field :recipient_id, value: @user_datum.id %>

  <div class="form-group">
    <%= f.label :sender_id %>

    <%= f.text_field :sender_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :message_data %>

    <%= f.text_field :message_data, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :product_id %>

    <%= f.collection_select :product_id, ProductDescription.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create user messaging", class: "btn btn-block btn-outline-secondary" %>
<% end %>
